body{
    font-family: arial;
    text-align: center;
    background: #f2f2f2;
}

input{
    padding: 10px;
    font-size: 16px;
}

button{
    padding: 10px 20px;
    font-size: 16px;
    margin-left: 10px;
}